# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
embedded/source/.vscode/.cortex-debug.registers.state.json
embedded/source/.vscode/.cortex-debug.peripherals.state.json
embedded/source/main.bin
embedded/source/main.elf
embedded/source/main.map
